{% set category = category|default('') -%} {% extends "layout/base.html" %} {% block content %}
<div class="sidebar">
    <h4 class="title text-center font-weight-bold">
        Categories
    </h4>
    <div class="categories">
        {% for i in categoryList %}
        <a href="{{ url_for('viewCategory',category_name = i.name) }}" class="{{ 'disabled' if i.name == category.name}} waves-effect waves-light btn category">
            {{i.name}}
        </a>
        {% endfor %}
    </div>
    {% if loggedIn == '1' %}
    <a href="{{ url_for('newCategory') }}" class="red darken-1 waves-effect waves-light btn">
        Add Category
    </a>
    <a href="{{ url_for('newItem') }}" class="red darken-1 waves-effect waves-light btn">
        Add Anime
    </a>
    {% endif %}
</div>
<div class="viewContent">
    {% if category %}
    <div class="categoryDetails">
        <h4 class="title text-center font-weight-bold">
            {{category.name}}
        </h4>
        {% if items.count() == 0 %}
        <a href="{{ url_for('editCategory', category_name = category.name) }}" class="btn back waves-effect waves-light">
            Edit Category
        </a>
        <a href="{{ url_for('deleteCategory', category_name = category.name) }}" class="red darken-1 waves-effect waves-light btn">
            Delete Category
        </a>
        {% endif %}
        <hr/>
        <div class="items">
            {% for i in items %}
            <div class="card item">
                <div class="card-content">
                    <div class="card-title">{{i.name}}</div>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('viewItem', category_name = category.name, item_name = i.name) }}">Link</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {%else%}
    <div style="position: relative;transform: translateY(-50%);top:50%;">
        <h4 class="title text-center font-weight-bold">
            Select a category ...
            <br>
        </h4>
    </div>
    {% endif %}
</div>
{% endblock %}