{% set category = category|default('') -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SuuchiPatr - Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/materialize.css')}}">
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">    
</head>
<body>
    <div class="container wrapper">
        <div class="sidebar">
            <h4 class="title text-center font-weight-bold">
                    Categories
            </h4>
            <div class="categories">
                {% for i in categoryList %}
                <a href="{{ url_for('viewCategory',category = i.name) }}" class="{{ 'disabled' if i.name == category.name}} waves-effect waves-light btn category">
                    {{i.name}}
                </a>
                {% endfor %}
            </div>
            <a href="{{ url_for('newCategory') }}" class="red darken-1 waves-effect waves-light btn">
                    Add Category
            </a>
            <a href="{{ url_for('newItem') }}" class="red darken-1 waves-effect waves-light btn">
                    Add Anime
            </a>
        </div>
        <div class="viewContent">
            {% if category %}
            <div class="categoryDetails">
                <h4 class="title text-center font-weight-bold">
                    {{category.name}}
                </h4>
                <a href="{{ url_for('deleteCategory', category_name = category.name) }}" class="red darken-1 waves-effect waves-light btn">
                    Delete Category
                </a>
                <hr/>
                <div class="items">
                    {% for i in items %}
                    <div class="card item">
                        <div class="card-content">
                            <div class="card-title">{{i.name}}</div>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('viewItem', category_name = category.name, item_name = i.name) }}">Link</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            {%else%}
            <div style="position: relative;transform: translateY(-50%);top:50%;">
                <h4 class="title text-center font-weight-bold">
                    Select a category ... <br>
                </h4>
            </div>
            {% endif %}                
        </div>
    </div>
</body>
</html>