{% extends "layout/base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}">
{% endblock %}
{% block content %}
<form class="editForm" action="{{ url_for('editItem',category_name = Category, item_name = Item.name) }}" method="post">
    <div class="input-field">
        <label for="name">Name </label>
        <input name="name" value="{{ Item.name }}" type="text"/>
    </div>
    <div class="input-field">
        <label for="summary">Summary </label>
        <textarea class="materialize-textarea" name="summary" type="text">{{ Item.summary }}</textarea>
    </div>
    <div class="input-field">
        <select name="category">
            {% for category in CategoryList %}
            <option value="{{category.name}}" {% if Category == category.name %}selected="selected"{% endif %} >{{category.name}}</option>
            {% endfor %}
        </select>
        <label>Category </label>
    </div>
    <button class="btn back waves-effect waves-light" type="submit">Edit</button>
    <a href="{{ url_for('viewItem', category_name=Category, item_name = Item.name) }}" class="btn back waves-effect waves-light">Cancel</a>            
</form>
{% endblock %}