{% extends "layout/base.html" %} {% block content %}
<div class="sidebar">
    <a href="{{ url_for('viewCategory', category_name = category.name) }}" class="btn back waves-effect waves-light">
        Back
        <- </a>
            <h4 class="title text-center font-weight-bold">
                {{category.name}} Anime
            </h4>
            {% for item in items %}
            <a href="{{ url_for('viewItem', category_name = category.name, item_name = item.name) }}" class="{{ 'disabled' if item.name == anime.name}} waves-effect waves-light btn category">
                {{item.name}}
            </a>
            {% endfor %}
            <a href="{{ url_for('newItem', category_name = category.name) }}" class="red darken-1 waves-effect waves-light btn">
                Add Anime
            </a>
            {% if session['user_id'] == category.user_id %}
            <a href="{{ url_for('editCategory', category_name = category.name) }}" class="btn back waves-effect waves-light">
                Edit Category
            </a>
            <a href="{{ url_for('deleteCategory', category_name = category.name) }}" class="red darken-1 waves-effect waves-light btn">
                Delete Category
            </a>
            {% endif %}
</div>
<div class="viewContent">
    {% if anime %}
    <div class="categoryDetails">
        <h4 class="title text-center font-weight-bold">
            {{anime.name}}
        </h4>
        <hr/>
        <!-- <div class="jumbotron header-image">
        </div> -->
        <h5>
            Summary
        </h5>
        <p class="text-justify summary">
            {{anime.summary}}
        </p>
        {% if session['user_id'] == anime.user_id %}
        <a href="{{ url_for('editItem', category_name = category.name, item_name = anime.name) }}" class="btn back waves-effect waves-light">
            Edit
        </a>
        <a href="{{ url_for('deleteItem', category_name = category.name, item_name = anime.name) }}" class="btn back waves-effect waves-light">
            Delete
        </a>
        {% endif %}
    </div>
    {%else%}
    <div class="vertRelative">
        <h4 class="title text-center font-weight-bold">
            Select an Anime ...
            <br> Shounen!
        </h4>
    </div>
    {% endif %}
</div>
{% endblock %}