{% extends "layout/base.html" %} {% block head %} {{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}"> {% endblock %} {% block content %}
<form class="editForm" action="{{ url_for('newItem') }}" method="post">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <div class="input-field">
        <label for="name">Name </label>
        <input name="name" type="text" />
    </div>
    <div class="input-field">
        <label for="summary">Summary </label>
        <textarea class="materialize-textarea" name="summary" type="text"></textarea>
    </div>
    <div class="input-field">
        <select name="category">
            {% for category in CategoryList %}
            <option value="{{category.name}}" {% if Category==category.name %}selected="selected" {% endif %}>{{category.name}}</option>
            {% endfor %}
        </select>
        <label>Category </label>
    </div>
    <button class="btn back waves-effect waves-light" type="submit">Create</button>
    <a href="{{ url_for('viewCatalog') }}" class="btn back waves-effect waves-light">Cancel</a>
</form>
{% endblock %}