{% extends "layout/base.html" %}
{% block content %}
<div class="sidebar">
    <a href="{{ url_for('viewCategory', category_name = category.name) }}" class="btn back waves-effect waves-light">
        Back <-
    </a>
    <h4 class="title text-center font-weight-bold">
        {{category.name}} Anime
    </h4>
    {% for item in items %}
    <a href="{{ url_for('viewItem', category_name = category.name, item_name = item.name) }}" class="{{ 'disabled' if item.name == anime.name}} waves-effect waves-light btn category">
        {{item.name}}
    </a>
    {% endfor %}
</div>
<div class="viewContent">
    {% if anime %}
    <div class="categoryDetails">
        <h4 class="title text-center font-weight-bold">
            {{anime.name}}
        </h4>
        <hr/>
        <h5>
            Summary
        </h5>
        <p class="text-justify summary"> 
            {{anime.summary}}
        </p>
    </div>
    {%else%}
    <div class="vertRelative">
        <h4 class="title text-center font-weight-bold">
            Select an Anime ... <br>
            Shounen!
        </h4>
    </div>
    {% endif %}                
</div>
{% endblock %}