<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <meta name="google-signin-client_id" content="{{CLIENT_ID}}">
    {% block head %}
    <title>{% block title %}SuuchiPatr - Catalog{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/materialize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> {% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://apis.google.com/js/api:client.js"></script>

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div style="padding:0em 2em; " class="teal lighten-2 nav-wrapper ">
                <span class="brand-logo ">Anime - SuuchiPatr</span>
                <ul id="nav-mobile " class="right hide-on-med-and-down ">
                    {% if 'email' not in session %}
                    <a href="#" id="gPlusSignIn" class="btn back waves-effect waves-light ">
                        Login
                    </a>
                    {% else %}
                    <li>
                        Logged in as <b>{{session['email']}}</b>
                    </li>
                    <a href="{{ url_for( 'authController.gdisconnect') }} " class="btn back waves-effect waves-light ">
                        Logout
                    </a>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div id="loader" class="valign-wrapper center-align hide loader">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class=" circle-clipper left ">
                            <div class="circle "></div>
                        </div>
                        <div class="gap-patch ">
                            <div class="circle "></div>
                        </div>
                        <div class="circle-clipper right ">
                            <div class="circle "></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="container wrapper ">
        {% block content %} {% endblock %}
    </div>
</body>
{% block scripts %}
<script src="{{ url_for( 'static', filename='js/materialize.js' ) }} "></script>
<script src="{{ url_for( 'static', filename='js/index.js' ) }} "></script> {% endblock %}
<script>
    $(document).ready(function() {
        window.token = '{{ login_token() }}'
    })
</script>

</html>